# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/reb2sac

# Debug files
*.dSYM/
*.su

# Other files
Makefile
config.h
config.log
config.status
libtool
src/.deps/
src/Makefile
src/analysis_def_parser.output
stamp-h1
